*~
#*
*.[oa]
GPATH
GRTAGS
GTAGS
__pycache__/
CMakeCache.txt
*.jl
project.egg-info
scrapy/tutorial/setup.py
dot/*.png
.cquery_cached_index
*.out
*.png
*.lock
.ccls-cache/
openresty/bin/
openresty/COPYRIGHT
openresty/luajit/
openresty/lualib/
openresty/nginx/*
!openresty/nginx/lua/
!openresty/nginx/conf/nginx.conf
!openresty/nginx/conf/vhosts/*.nginx.conf
openresty/pod/
openresty/resty.index
