*~
#*
*.[oa]
GPATH
GRTAGS
GTAGS
__pycache__/
bin/
pkg/
build/
install/
CMakeFiles/
CMakeCache.txt
*.jl
project.egg-info
scrapy/tutorial/setup.py
dot/*.png
.cquery_cached_index
*.out
openresty/openresty-1.*
*.png
*.lock